<footer class="footer">
  <small>
    <a href="http://www.structwares.com/">Manageware:</a>
    Simplifying Project Management
  </small>
  <nav>
    <ul>
      <li><small>A product by <a href="http://www.structwares.com/">Structwares</a>
  </small></li>
    </ul>
  </nav>
</footer>