<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/signup">Manageware</a>
      <nav>
        <ul class="nav pull-right">
           <% if signed_in? %> 
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Customer Index", customers_path %></li>
                <li><%= link_to "User Index", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><a href="http://www.structwares.com/"><i class="icon-home icon-white"></i> Goto Structwares</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>