<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Manageware</a>
      <nav>
        <ul class="nav pull-right">
          <li><a href="http://www.structwares.com/"><i class="icon-home icon-white"></i> Goto Structwares</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
